<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head"></head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h1 th:text="${titulo}" class="text-secondary text-center"></h1>
          </div>
          <div th:object="${cliente}" th:remove="tag">
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
              <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
          </div>
          <form
            th:action="@{/form}"
            th:object="${cliente}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="nombre"
                >Nombre:</label
              >
              <div class="col-sm-6">
                <input
                  class="form-control"
                  type="text"
                  th:field="*{nombre}"
                  th:errorclass="'form-control alert-danger'"
                />
                <small
                  class="text text-danger"
                  th:if="${#fields.hasErrors('nombre')}"
                  th:errors="*{nombre}"
                ></small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="apellido"
                >Apellido:</label
              >
              <div class="col-sm-6">
                <input
                  class="form-control"
                  type="text"
                  th:field="*{apellido}"
                  th:errorclass="'form-control alert-danger'"
                />
                <small
                  class="text text-danger"
                  th:if="${#fields.hasErrors('apellido')}"
                  th:errors="*{apellido}"
                ></small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="email">Email:</label>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  type="email"
                  th:field="*{email}"
                  th:errorclass="'form-control alert-danger'"
                />
                <small
                  class="text text-danger"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                ></small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="fecha">Fecha:</label>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  type="date"
                  th:field="*{createAt}"
                  th:errorclass="'form-control alert-danger'"
                />
                <small
                  class="text text-danger"
                  th:if="${#fields.hasErrors('createAt')}"
                  th:errors="*{createAt}"
                ></small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="file">Foto:</label>
              <div class="col-sm-6">
                <input
                  type="file"
                  name="file"
                  class="form-control"
                />
              </div>
            <div>
              <div>
                <input
                  class="btn btn-success mt-2"
                  type="submit"
                  value="Crear cliente"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
